extends ../layouts/pages-layout

block title 
    - var title = 'Dota 2'

block content
    header 
        .dota-box
            .container-xl.p-0
                .container
                    .row
                        .col-xxl-6.col-xl-6.col-lg-6.col-md-12
                            .hero-section.pt-5
                                h1.hero-title.text-white.m-0 Dota 2
                                p.hero-desc.text-white.my-5
                                    | Каждый день миллионы игроков по всему миру вступают в командную битву 5 на 5 в роли одного из более чем сотни героев. Dota — глубочайшая многопользовательская стратегия всех времён, в которой всегда найдётся место новой стратегии или тактике.
                                p.hero-desc.text-white
                                    |  Она совершенно бесплатна, и это не поменяется — начинайте защищать своего Древнего уже сейчас.
                                    

            .img-mobile
                img(src='./img/pic/dota-big.png')
    main
        section.gallery.pt-5
            .container-xl.p-0
                .container
                    h1.gallery-title Галлерея

                    .swiper.mySwiper
                        .swiper-wrapper
                            .swiper-slide
                                img(src='./img/pic/slider/dota-slide-1.png')
                            .swiper-slide
                                img(src='./img/pic/slider/dota-slide-2.png')
                        .swiper-button-next
                        .swiper-button-prev

        section.articles.py-5
            .container-xl.p-0
                .container
                    h1.gallery-title Статьи
                    .row
                        //- карточчка новости
                        .col-md-4
                            .card
                                .card-body
                                    img.card-img-top.mb-4(src='./img/pic/articles/dota-article-1.png')
                                    h5.card-title Заголовок новости
                                    p.card-text Описание новости
                                    a.btn.btn-primary(href='#') Читать
